body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header
{
  background-color: rgb(81, 168, 202);
  padding: .5rem;
  display: flex;
  flex-direction: row;
  
}

.header ul
{
  display: flex;
}

.header ul li
{
  list-style: none;
  padding: 0 1rem;
}

.link
{
  text-decoration: none;
  color: white;
}
.register
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(189, 87, 50);
}

.register input
{
  width: 25%;
  padding: .7rem;
  margin: .5rem 0;
}

.submitBtn
{
  width: 15%;
  height: 7%;
  background-color: rgb(75, 204, 255);
  border: none;
  box-shadow: 2px 2px 5px rgb(90, 42, 7);
}

.tableHandler
{
  margin: 0 5%;
}
